@font-face {
    font-family: Banthink;
    src: url(../fonts/Banthink.ttf);
}

html,
body {
    font-family: 'Banthink';
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    padding: 40px 10%;
}

.navbar ul li {
    margin: 0 8px;
}

.navbar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none !important;
}

.navbar a:hover {
    color: #FFA500
}

.navbar-brand {
    font-weight: 600
}

section {
    background: #7F8B7B;
    /* padding: 150px 0 */
}

.container {
    min-width: 80%;
    margin: 0 auto;
}

.base {
    width: 400px;
    height: auto;
}

.aid-1{
    width: 120px; height: auto; position: absolute;top: 350px;left: 30px
}

.aid-2 {
    width: 120px;
    height: auto;
    position: absolute;
    top: 370px;
    left: 50px;
}

.main-5{
    width: 270px; height: auto; position: absolute;top: 90px; left: 80px
}

.main-3 {
    width: 430px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;
}

.main-4 {
    width: 330px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 80px
}

.baadge {
    width: 120px;
    height: auto;
    position: absolute;
    right: 100px;
}

.footer-ul {
    list-style-type: none;
}

.footer-ul li {
    margin-left: -40px
}

.footer-ul li a {
    color: #9797B4;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}