@font-face {
    font-family: Banthink;
    src: url(../fonts/Banthink.ttf);
}

html, body{
    font-family: 'Banthink';
}

.navbar {
    padding: 40px 10%;
}

.navbar ul li{
    margin: 0 20px;
}

.navbar a {
    color: #fff;
    font-size: 25px;
    text-decoration: none !important;
}

.navbar a:hover {
    color: #FFA500
}

.navbar-brand {
    font-weight: 600
}

section {
    background: #7F8B7B;
}

.container {
    min-width: 80%;
    margin: 0 auto;
}